{% if page.layout == 'home' %}
  <header class="site-header0" role="banner">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title }}</a>
      <a class="site-title0">Software &#8811 set of computer programs &#8811 sum total lines of code.</a>
    </div>
  </header>
{% else %}
  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title }}</a>
      <a class="site-title0">Software &#8811 set of computer programs &#8811 sum total lines of code.</a>
    </div>
  </header>
{% endif %}
