{% if page.layout == 'home' %}
  <header class="site-header0" role="banner">
    <div class="wrapper">
      <a class="site-title" rel="author">{{ site.title | escape }}</a>
      <a class="site-title0">>> a mote of programming code is a powerful lever</a>
    </div>
  </header>
{% else %}
  <header class="site-header" role="banner">
    <div class="wrapper">
      <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <a class="site-title0">>> programming code, a mote at a time</a>
    </div>
  </header>
{% endif %}
