---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Site header (with modifications for banner image)
 */
 .site-header0 {
    border-top: 5px solid $grey-color-dark;//rgb(128, 44, 12); //$grey-color-dark;
    border-bottom: 1px solid $grey-color-light;//rgb(240, 236, 40); //$grey-color-light;
    width: 100%; //3 //103%; //120% 
    position: relative;
    left: 50vw;
    right: 50vw;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size: cover;
    /** background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center center;
    /** background-attachment: fixed;  //parallax */
    /** min-height: 14.1vw; */
    /** min-height: 29vw; */
    min-height: 36vw; //47vw; //38vw; //34vw; original
    //background-color: #3a0303;//#eeeeee;
    /** background-image: url("testVertSlide.jpg"); */
    /** background-image: url("Screen Shot 2022-12-28 at 11.18.25 AM.png"); */
    /** background-image: url("Screen Shot 2022-12-28 at 7.14.59 PM.png"); */
    /** background-image: url("Screen Shot 2022-12-30 at 10.39.10 AM.png"); */
    /**background-image: url("Screen Shot 2022-12-30 at 11.02.04 AM.png"); */
    //background-image: url("Screen Shot 2022-12-31 at 12.35.50 PM.jpg");
    //background-image: url("Screen Shot 2023-01-13 at 7.03.48 PM.jpg");
    //background-image: none; //url("fall5.jpg");
    background-image: url(‘pink.jpg’);
   //background-image: url(‘https://scx1.b-cdn.net/csz/news/800/2017/theoreticala.jpg’);
  }

  .site-header{
    background-color: #bed3d6;
  }

.site-title {
  @include relative-font-size(1.5); //1.625); //modified 03-02
  font-weight: 800;
  line-height: $base-line-height * $base-font-size * 1.25; //1.65; //2.25;  //modified 03-02
  letter-spacing: 3px;  //-0.005px; //-1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color; //$brand-color; // rgb(240, 236, 40); //$grey-color-dark; //#eeeeee;
  }
}

  .site-title0 {
    @include relative-font-size(0.75);
    font-weight: 500;
    line-height: 1.2; //$base-line-height * $base-font-size * 0.0025; //revised 03-02
    letter-spacing: 0.03em; //0.07em; //-0.25px; //-0.65px; //-1px;  //revised 03-02
   
   //revised 03-02
    margin-bottom: auto;  //modified from 0 to auto
    float: left; //added
   
   //(unmodified)
    clear: left;
   
   //revised 03-02
    //display: block;  //removed 03-02
   overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap;
    animation: typing 15s steps(100, end), blinking 0.8s step-end infinite;
    //font-size: 1.6rem;
    width: auto;
    //position: relative;
  
    @keyframes typing {
      from { max-width: 0 }
      to { max-width: 100% }
    }
    @keyframes blinking {
      from, to { border-color: transparent }
      50% { border-color: black; }
    }
  //end revised 03-02
  
    &,
    &:visited {
      color: $text-color; //#eeeeee;
    }
}
