---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Site header (with modifications)
 */
 .site-header0 {
    border-top: 5px solid $grey-color-dark;//rgb(128, 44, 12); //$grey-color-dark;
    border-bottom: 1px solid $grey-color-light;//rgb(240, 236, 40); //$grey-color-light;
    width: 100%; //3 //103%; //120% 
    position: relative;
    left: 50vw;
    right: 50vw;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size: cover;
    /** background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center center;
    /** min-height: 14.1vw; */
    /** min-height: 29vw; */
    min-height: 29vw; //36vw;
    background-color: #eeeeee;
    /** background-image: url("testVertSlide.jpg"); */
    /** background-image: url("Screen Shot 2022-12-28 at 11.18.25 AM.png"); */
    /** background-image: url("Screen Shot 2022-12-28 at 7.14.59 PM.png"); */
    /** background-image: url("Screen Shot 2022-12-30 at 10.39.10 AM.png"); */
    /**background-image: url("Screen Shot 2022-12-30 at 11.02.04 AM.png"); */
    background-image: url("Screen Shot 2022-12-31 at 12.35.50 PM.jpg");
  }