---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Site header (with modifications for banner image)
 */
 .site-header0 {
    border-top: 5px solid $grey-color-dark;//rgb(128, 44, 12); //$grey-color-dark;
    border-bottom: 1px solid $grey-color-light;//rgb(240, 236, 40); //$grey-color-light;
    width: 100%; //3 //103%; //120% 
    position: relative;
    left: 50vw;
    right: 50vw;
    margin-left: -50vw;
    margin-right: -50vw;
    background-size: cover;
    /** background-size: 100%; */
    background-repeat: no-repeat;
    background-position: center center;
    /** min-height: 14.1vw; */
    /** min-height: 29vw; */
    min-height: 34vw; //36vw;
    //background-color: #3a0303;//#eeeeee;
    /** background-image: url("testVertSlide.jpg"); */
    /** background-image: url("Screen Shot 2022-12-28 at 11.18.25 AM.png"); */
    /** background-image: url("Screen Shot 2022-12-28 at 7.14.59 PM.png"); */
    /** background-image: url("Screen Shot 2022-12-30 at 10.39.10 AM.png"); */
    /**background-image: url("Screen Shot 2022-12-30 at 11.02.04 AM.png"); */
    background-image: url("Screen Shot 2022-12-31 at 12.35.50 PM.jpg");
  }

  .site-header{
    background-color: #bed3d6;
  }

.site-title {
  @include relative-font-size(1.625);
  font-weight: 800;
  line-height: $base-line-height * $base-font-size * 1.65; //2.25;
  letter-spacing: 3px;  //-0.005px; //-1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $text-color; //$brand-color; // rgb(240, 236, 40); //$grey-color-dark; //#eeeeee;
  }
}

  .site-title0 {
    @include relative-font-size(0.75);
    font-weight: 500;
    line-height: $base-line-height * $base-font-size * 0.0025; //2.25;
    letter-spacing: -0.65px; //-1px;
    margin-bottom: 0;
    clear: left;
    display: block;
  
    &,
    &:visited {
      color: $text-color; //#eeeeee;
    }
}
